body {
  font-family: sans-serif;
  background: radial-gradient(
    ellipse at center,
    rgb(99, 155, 155) 0%,
    rgb(25, 41, 41) 99%,
    rgb(69, 108, 108) 100%
  );
  margin: 100px;
  width: 960px;
  height: 600px;
}

.red {
  color: red;
}

.black {
  color: black;
}

.container {
  display: flex;
  margin-top: 150px;
  width:1350px;
  justify-content: space-evenly;
}

.pile-section{
  display: flex;
  margin-top: 150px;
  width:1350px;
  justify-content: space-evenly;
}

.pile {
  display: flex;
  flex-direction: column;
}

.hidden {
  color: #373374;
}

.upper {
  display: flex;
  margin-top: 10px;
  text-align: center;
}

.box {
  width: 130px;
  height: 180px;
  border: 1px solid black;
  background: white;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
  font-size: 160px;
  margin-top: -120px;
  line-height: 1.1;
}

.empty-box {
  width: 130px;
  border: 1px solid black;
  height: 180px;
  background: white;
  text-align: center;
  cursor: pointer;
  font-size: 160px;
  margin-top: -120px;
  line-height: 1.1;
}

.card {
  width: 130px;
  height: 180px;
  border: 1px solid black;
  background: white;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
  font-size: 160px;
  margin-top: -120px;
  line-height: 1.1;
  border-radius: 3px;
}

.won {
  font-size: 100px;
  text-align: center;
  line-height: 5;
}

.waste-pile{
  display: flex;
  justify-content: space-between;
  /* margin-left: -500px; */
}